<div class="container text-center">
    # <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
    <h1>Dashboard</h1>
    <p>Welcome <%= @user.first_name %></p>
    <p>Click here to make an appointment</p>
</div>