<div class="container mt-4">
  <div class="mb-4">
    <%= link_to @user, class: "btn btn-light text-decoration-none" do %>
      <i class="bi bi-arrow-left"></i> Back to User
    <% end %>
  </div>

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Editing User</h2>
    </div>

    <div class="card-body">
      <%= render "form", user: @user %>
    </div>
  </div>
</div>

