<div class="container mt-4">
  <div class="mb-4">
    <%= link_to [@user, @appointment], class: "btn btn-light text-decoration-none", style: "border: 1px solid black;" do %>
      <i class="bi bi-arrow-left"></i> Back to Appointment
    <% end %>
  </div>

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Editing Appointment</h2>
    </div>

    <div class="card-body">
      <%= render "form", appointment: @appointment %>
    </div>
  </div>
</div>
