<div id="<%= dom_id availability %>">
  <p>
    <strong>Start time:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time %>
  </p>

  <p>
    <strong>Filled status:</strong>
    <%= availability.filled_status %>
  </p>

</div>
