<div class="container mt-4">
  <div>
    <%= link_to @availability, class: "btn btn-light mb-4 text-decoration-none" do %>
      <i class="bi bi-arrow-left"></i> Back to Availability
    <% end %>
  </div>
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Editing Availability</h1>
    </div>
    <div class="card-body">
      <%= render "form", availability: @availability %>
    </div>
  </div>
</div>